:root {
    --primary-color: #aa4922;
    --secondary-color: #cdae94;
    --primary-font-color: #4d4d4d;
    --secondary-font-color: #3e3e3e;
    --bg-color: #dddddd;
    --heading-color: #1a1a1b;
}

[data-theme="dark"] {
    --primary-color: #9F4D61;
    --secondary-color: #271a27;
    --primary-font-color: #4d4d4d;
    --secondary-font-color: #6c6c6c;
    --bg-color: #1a1a1b;
    --heading-color: #dddddd;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    font-family: "Chakra Petch", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: var(--primary-color);
    text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-font-color);
    margin: 0;
}

h1 {
    color: var(--heading-color);
}

p, span {
    color: var(--primary-font-color);
}

#content {
    width: 650px;
}

#container {
    border: 3px solid var(--secondary-color);
    width: 100%;
    height: 415px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#left {
    align-items: start;
    flex: 1.2;
}

#left h1 {
    width: 100%;
    margin-bottom: 0.5rem;
}

#self-portrait {
    width: 70%;
    border-radius: 50%;
    margin: 1rem 0;
}

#blurb {
    text-align: justify;
}

#username-rainbow {
    color: var(--heading-color);
    transition: 1s ease;
}

#username-rainbow:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 2s linear infinite;
    background-size: 400% 100%;
}

@keyframes rainbow {
    0%{
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

#links {
    color: var(--primary-font-color);
    
}

#right {
    align-items: end;
    padding-right: 1.5rem;
}

#right a {
    color: var(--primary-color);
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: "<<  ";
    direction: rtl;
    color: var(--primary-font-color);
}

ul li {
    margin: 0.5rem 0;

}

ul li a {
    color: var(--primary-font-color);
}

ul li a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#footer span {
    align-self: center;
}

#footer button {
    background: none;
    border: none;
    color: var(--heading-color);
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}

#footer button img {
    height: 2rem;
}

/* mobile support :p */
@media (max-width: 768px) {
    body {
        justify-content: start;
        padding: 3rem 0;
        height: fit-content
    }

    #container {
        flex-direction: column-reverse;
        width: 90%;
        height: auto;
        gap: 2rem;
    }

    #left, #right {
        align-items: center;
    }

    h3, ul {
        text-align: center;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    .col {
        max-width: 100%;
    }

    #self-portrait {
        width: 50%;
    }

    #footer {
        width: 90%;
    }
}